<ion-footer>
  <div class="bicolor-bar">
    <div class="color-left"></div>
    <div class="color-right"></div>
  </div>
  <ion-toolbar class="footer-toolbar">
    <div class="footer-cont">
      <div class="fila1">
        <p class="f-title">INFORMACION</p>
        <p class="f-text">NOSOTROS</p>
        <p class="f-text">PREGUNTAS FRECUENTES</p>
      </div>
      <div class="fila2">
        <p class="f-title">UBICACIÓN</p>
        <p class="f-text">Torreón, Gómez Palacio y Durango.</p>
        <p class="f-text">
          Encuentra tu tienda más cercana
          <b><a style="color: #ed156f;" routerLink="/sucursales">aquí</a></b>
        </p>
      </div>
      <div class="fila3">
        <p class="f-title">Síguenos en nuestras redes!</p>
        <div class="fila3-icons">
          <a href="https://www.facebook.com/GrupoInterventas/">
            <ion-img class="footer-icon" src="../../assets/icon/ico-fb.png"></ion-img>
          </a>
          <a href="https://www.youtube.com/channel/UCiKzc2KkdIApv_DzZh-9Syw">
            <ion-img class="footer-icon" src="../../assets/icon/ico-yt.png"></ion-img>
          </a>
          <a href="http://wa.link/jfiopz">
            <ion-img class="footer-icon" src="../../assets/icon/ico-ws.png"></ion-img>
          </a>
          <a href="https://www.instagram.com/grupointerventas/">
            <ion-img class="footer-icon" src="../../assets/icon/ico-insta.png"></ion-img>
          </a>
          <a href="https://www.tiktok.com/@grupointerventas">
            <ion-img class="footer-icon" src="../../assets/icon/ico-tt.png"></ion-img>
          </a>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>