/* =============================== */
/* FOOTER */
/* =============================== */
$dark-blue: #19226d;
$pink-magenta: #ed156f;

.footer-toolbar {
  --padding-start: 60px;
  --padding-end: 60px;
  --padding-top: 20px;
  --padding-bottom: 30px;
  --background: #ffffff;
  color: $dark-blue;
}

.footer-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}

.footer-icon {
  width: 40px;
}

.f-title {
  color: $dark-blue;
  font-weight: 600;
}

.f-text {
  color: #5e5e5e;
  font-weight: 300;
}

.fila3-icons {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-cont {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
}