<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Panel de Administrador</ion-title>
    <ion-button slot="end" fill="clear" color="light" (click)="logout()">Cerrar sesión</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenido Administrador 👨‍💼</h2>
  <p>Puedes modificar información desde aquí.</p>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre del producto</ion-label>
      <ion-input [(ngModel)]="producto.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="producto.precio"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="guardarProducto()">
    Guardar producto
  </ion-button>
</ion-content>
