/*================================*/
/*GLOBAL*/
:root {
  color-scheme: only light;
}

ion-card,
ion-footer,
ion-toolbar{
  --background: #ffffff !important;
  --ion-background-color: #ffffff !important;
  --ion-text-color: #19226d !important;
  --color: black;
}

ion-content {
      --background: radial-gradient(at 20% 30%, #ecd2dd 0px, transparent 70%),
              radial-gradient(at 80% 70%, #d1d4f0 0px, transparent 70%),
              #ffffff;
}


h1, h2, h3, h4, h5, h6, p {
    color: #000000;
}

//colores del logoxd
$dark-blue: #19226d;
$pink-magenta: #ed156f;
/*================================*/

.main-toolbar {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --background: #ffffff;
  color: $dark-blue;

  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

.imglogo {
  width: 250px;
  height: auto;
}

.nav-links-container {
  display: flex;
  align-items: center;
  gap: 10px;

  ion-button {
    --background: transparent;
    --color: $dark-blue;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;

    &:hover {
      --color: $pink-magenta;
    }
  }
}

.navboton:hover {
  transition: color 0.5s ease;
  color: $pink-magenta;
}

.dropdown-menu {
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 9999;
  flex-direction: column;
  min-width: 150px;
  display: flex;
  color: $dark-blue;
  
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  

  .dropdown-item {
    --background: transparent;
    --color: $dark-blue;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
    justify-content: flex-start;
    

    &:hover {
      color: $pink-magenta;
    }
  }
}

.bicolor-bar {
  display: flex;
  width: 100%;
  height: 8px;

  .color-left {
    background-color: $dark-blue;
    flex: 1;
  }

  .color-right {
    background-color: $pink-magenta;
    flex: 1;
  }
}

//CONTENIDO

ion-content{
  
}
.contenido {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  padding: 20px;
}

.imgcont{
  border-radius: 10px;
  overflow: hidden;
}


//FOOTER
.footer-toolbar{
  --padding-start: 60px;
  --padding-end: 60px;
  --padding-top: 20px;
  --padding-bottom:30px;
  --background: #ffffff;
  color: $dark-blue;
}

.footer-divider {
  width: 2px;
  height: 100px;
  background-color: #e0e0e0;
}


.footer-icon{
  width: 40px;
}

.footer-cont{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);

  text-align: center;
  align-items: center;

  text-transform: uppercase;
}

.f-title{
  color: $dark-blue;
    font-weight: 600;
}

.f-text{
  color: #5e5e5e;
    font-weight: 300;
}


.fila3-icons{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* =============================== */
/* MENÚ RESPONSIVO */
/* =============================== */

.menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 32px;
  color: #19226d; /* color del texto del nav */
}

/* Menú hamburguesa desplegable */
.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

.mobile-item {
  --background: transparent;
  --color: #19226d;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  padding-left: 20px;

  &:hover {
    color: #ed156f;
  }
}

/* =============================== */
/* RESPONSIVE */
/* =============================== */
@media (max-width: 768px) {
  .nav-links-container {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .mobile-menu {
    display: flex;
  }

  .dropdown-menu{
    width: 100%;
  }

  .footer-cont{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3, auto);
  }
}



  