<ion-header>
  <ion-toolbar class="main-toolbar">
    <ion-img class="imglogo" src="../../assets/img/logo.png" slot="start"></ion-img>

    <!-- Menú normal (escritorio) -->
    <div class="nav-links-container" slot="end">
      <ion-button fill="clear" class="navboton" routerLink="/home">INICIO</ion-button>
      <ion-button fill="clear" class="navboton" (click)="toggleDropdown('nosotros', $event)">NOSOTROS</ion-button>
      <ion-button fill="clear" class="navboton" routerLink="/productos">PRODUCTOS</ion-button>
      <ion-button fill="clear" class="navboton" (click)="toggleDropdown('sucursales', $event)">SUCURSALES</ion-button>

      <!-- 🔐 Control de sesión -->
      <div class="auth-info" *ngIf="user; else notLogged">
        <p>Bienvenido, <strong>{{ user.email }}</strong></p>
        <ion-button color="danger" size="small" (click)="logout()">Cerrar sesión</ion-button>
      </div>

      <ng-template #notLogged>
        <ion-button color="primary" size="small" routerLink="/login">
          Iniciar sesión
        </ion-button>
      </ng-template>
    </div>

    <!-- Botón hamburguesa (móvil) -->
    <ion-buttons slot="end" class="menu-toggle">
      <ion-button (click)="toggleMenu()">
        <ion-icon [icon]="menuOutline" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Menú hamburguesa desplegable -->
  <div class="mobile-menu" *ngIf="showMobileMenu">
    <ion-button fill="clear" class="mobile-item" routerLink="/home" (click)="closeMenu()">INICIO</ion-button>
    <ion-button fill="clear" class="mobile-item" routerLink="/productos" (click)="closeMenu()">PRODUCTOS</ion-button>
    <ion-button fill="clear" class="mobile-item" (click)="toggleDropdown('nosotros', $event)">NOSOTROS</ion-button>
    <ion-button fill="clear" class="mobile-item" (click)="toggleDropdown('sucursales', $event)">SUCURSALES</ion-button>

    <!-- 🔐 Control de sesión en menú móvil -->
    <div class="mobile-auth">
      <ng-container *ngIf="user; else mobileNotLogged">
        <p>Hola, <strong>{{ user.email }}</strong></p>
        <ion-button expand="block" color="danger" (click)="logout()">Cerrar sesión</ion-button>
      </ng-container>

      <ng-template #mobileNotLogged>
        <ion-button expand="block" color="primary" routerLink="/login" (click)="closeMenu()">Iniciar sesión</ion-button>
      </ng-template>
    </div>
  </div>

  <!-- Dropdowns -->
  <div class="dropdown-menu" *ngIf="showNosotrosDropdown" [ngStyle]="dropdownPosition">
    <ion-button fill="clear" class="dropdown-item" routerLink="/contacto">CONTACTO</ion-button>
    <ion-button fill="clear" class="dropdown-item" routerLink="/informacion">INFORMACIÓN</ion-button>
    <div class="bicolor-bar">
      <div class="color-left"></div>
      <div class="color-right"></div>
    </div>
  </div>

  <div class="dropdown-menu" *ngIf="showSucursalesDropdown" [ngStyle]="dropdownPosition">
    <ion-button fill="clear" class="dropdown-item" routerLink="/mayoreo">MAYOREO</ion-button>
    <ion-button fill="clear" class="dropdown-item" routerLink="/menudeo">MENUDEO</ion-button>
    <div class="bicolor-bar">
      <div class="color-left"></div>
      <div class="color-right"></div>
    </div>
  </div>

  <div class="bicolor-bar">
    <div class="color-left"></div>
    <div class="color-right"></div>
  </div>
</ion-header>

<!-- CONTENIDO -->
<ion-content>
  <div class="contenido">
    <h1>Bienvenido al Contenido</h1>

    <div *ngIf="user; else noSession">
      <p>Hola, <strong>{{ user.email }}</strong>. Ya iniciaste sesión 🎉</p>
    </div>

    <ng-template #noSession>
      <p>Inicia sesión para acceder a todas las funciones.</p>
    </ng-template>

    <ion-img class="imgcont" src="../../assets/img/flyers/flyer1.png"></ion-img>
  </div>

  <ion-footer>
    <div class="bicolor-bar">
      <div class="color-left"></div>
      <div class="color-right"></div>
    </div>
    <ion-toolbar class="footer-toolbar">
      <div class="footer-cont">
        <div class="fila1">
          <p class="f-title">INFORMACIÓN</p>
          <p class="f-text">NOSOTROS</p>
          <p class="f-text">PREGUNTAS FRECUENTES</p>
        </div>

        <div class="fila2">
          <p class="f-title">UBICACIÓN</p>
          <p class="f-text">Torreón, Gómez Palacio y Durango.</p>
          <p class="f-text">
            Encuentra tu tienda más cercana
            <b><a style="color: #ed156f;" routerLink="/sucursales">aquí</a></b>
          </p>
        </div>

        <div class="fila3">
          <p class="f-title">Síguenos en nuestras redes!</p>
          <div class="fila3-icons">
            <a href="https://www.facebook.com/GrupoInterventas/">
              <ion-img class="footer-icon" src="../../assets/icon/ico-fb.png"></ion-img>
            </a>
            <a href="https://www.youtube.com/channel/UCiKzc2KkdIApv_DzZh-9Syw">
              <ion-img class="footer-icon" src="../../assets/icon/ico-yt.png"></ion-img>
            </a>
            <a href="http://wa.link/jfiopz">
              <ion-img class="footer-icon" src="../../assets/icon/ico-ws.png"></ion-img>
            </a>
            <a href="https://www.instagram.com/grupointerventas/">
              <ion-img class="footer-icon" src="../../assets/icon/ico-insta.png"></ion-img>
            </a>
            <a href="https://www.tiktok.com/@grupointerventas">
              <ion-img class="footer-icon" src="../../assets/icon/ico-tt.png"></ion-img>
            </a>
          </div>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
